dist
coverage
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules
node_modules_bak
tmp
temp
cli-test-repo

.env
.DS_Store
debug.md

backlog_test

# Imdone
.imdone/*
!.imdone/config.yml
!.imdone/actions
!.imdone/properties
!.imdone/templates
!.imdone/package.json
!.imdone/package-lock.json
backlog
